@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(247, 247, 247);
  position: relative;
  min-height: 100vh;
}

body {
  padding-bottom: 50px;
}

.footer {
  height: 50px;
  background-color: grey;
  color: rgb(204, 204, 204);
  font-size: 15px;
  padding: 10px;
  width: 100vw;
  position: absolute;
  bottom: 0;
}
