.product-container {
  margin: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.product-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 30px;
}

.product-name {
  margin-top: 20px;
  font-size: large;
}

button {
  background-color: rgb(119, 184, 137);
  width: 200px;
  height: 50px;
  font-size: large;
  border: 0;
  color: white;
  margin-top: 30px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: rgb(138, 214, 159);
}

.product-info img {
  width: 400px;
  height: 400px;
}

.product-ingredients {
  font-style: italic;
  font-weight: lighter;
}

.product-details {
  margin-top: 10px;
}

.product-price {
  font-weight: bolder;
}

.amount-input {
  width: 45px;
  height: 40px;
  margin-right: 20px;
  padding: 5px;
  border: 0.5px solid rgb(158, 157, 157);
}
